@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <main class="flex-fill">

        <div class="p-0 container-fluid">

            <nav class="mb-3 navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand">Blazor Battleships</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="https://github.com/oatsoda/battleships" target="_blank">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                @Body
            </div>

        </div>
    </main>
    <footer>
        <div class="text-center container"><p class="text-muted">Credits | About</p></div>
    </footer>
</div>
