@using System.Drawing;

@if (Visible)
{ 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>G</th>
                <th>H</th>
                <th>I</th>
                <th>J</th>
            </tr>
        </thead>
        <tbody>
            @for (int y = 0; y < 10; y++)
            {
                <tr>
                    <th>@y</th>
                    @for (int x = 0; x < 10; x++)
                    {
                        var p = new Point(x, y);
                        <GridCell Coord=@p State=@GetState(p) AllowSelection=@IsComputer OnCellClicked=@CellClicked />
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public GridState GridState { get; set; }

    [Parameter]
    public bool IsComputer { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public Action<Point> OnCellClicked { get; set; }

    private CellState GetState(Point point)
    {
        return GridState.Grid[point];
    }

    private void CellClicked(Point coord)
    {
        if (!IsComputer)
            return;

        OnCellClicked(coord);
    }
}
