@page "/"
@using Battleships.ProgWebAppBlazor.Components
@using Battleships.GameEngine
@using System.Drawing

<h1>Battleships</h1>

<div class="row">
    <div class="col-md-6">
        <GridBoard GridState=@PlayerGrid Visible=@true IsSelection=@(!IsPlaying) OnCellClicked="@(async (p) => await PlayerCellSelected(p))" />
    </div>
    <div class="col-md-6">
        <GridBoard GridState=@ComputerGrid Visible=@IsPlaying IsComputer=@true OnCellClicked="@(async (p) => await CellClicked(p))" />
    </div>
</div>
<SetupBoardInput @ref=setupBoard SetupBoard=@PlayerSetupBoard GridState=@PlayerGrid OnShipsChanged=@SetupBoardInputShipsChanged />
<PlayGame @ref=playGame PlayerGridState=@PlayerGrid ComputerGridState=@ComputerGrid Game=@Game OnGridStateChanged=@GridStatesChanged />


@code {

    private GridState PlayerGrid = new GridState();
    private SetupBoard PlayerSetupBoard = new SetupBoard();
    private GridState ComputerGrid = new GridState();
    private Game Game;
    private bool IsPlaying;

    private PlayGame playGame;
    private SetupBoardInput setupBoard;

    private void SetupBoardInputShipsChanged(bool setupCompleted)
    {
        if (setupCompleted)
        {
            Game = new Game(PlayerSetupBoard);
            IsPlaying = true;
        }

        StateHasChanged();
    }


    private void GridStatesChanged()
    {
        StateHasChanged();
    }

    private async Task CellClicked(Point coord)
    {
        await playGame.CellSelectedForTurn(coord);
    }

    private async Task PlayerCellSelected(Point coord)
    {
        await Task.Run(() => setupBoard.UseCoordinate(coord));        
    }
}

