@page "/"
@using Battleships.ProgWebAppBlazor.Components
@using Battleships.GameEngine

<h1>Battleships</h1>

<GridBoard GridState=@PlayerGrid Visible=@true />
<GridBoard GridState=@ComputerGrid Visible=@IsPlaying HideShips=@true />
<SetupBoardInput SetupBoard=@PlayerSetupBoard GridState=@PlayerGrid OnShipsChanged=@SetupBoardInputShipsChanged />

@code {

    private GridState PlayerGrid = new GridState();
    private SetupBoard PlayerSetupBoard = new SetupBoard();
    private GridState ComputerGrid = new GridState();
    private Game Game;
    private bool IsPlaying;

    private void SetupBoardInputShipsChanged(bool setupCompleted)
    {
        if (setupCompleted)
        {
            Game = new Game(PlayerSetupBoard);
            IsPlaying = true;
        }

        StateHasChanged();
    }
}

