@page "/"
@using Battleships.ProgWebAppBlazor.Components
@using Battleships.GameEngine

<h1>Battleships</h1>

<CascadingValue Value=@m_SetupBoard>
    <CascadingValue Value=@m_Grid>
        <GridBoard />
        <SetupBoardInput OnShipsChanged=@SetupBoardInputShipsChanged />
    </CascadingValue>
</CascadingValue>

@code {

    private GridState m_Grid = new GridState();

    private SetupBoard m_SetupBoard = new SetupBoard();

    private void SetupBoardInputShipsChanged(bool setupCompleted)
    {
        StateHasChanged();
    }
}

