@page "/"
@using Battleships.ProgWebAppBlazor.Components
@using Battleships.GameEngine

<h1>Battleships</h1>

<div class="row">
    <div class="col-md-6">
        <GridBoard GridState=@PlayerGrid Visible=@true />
    </div>
    <div class="col-md-6">
        <GridBoard GridState=@ComputerGrid Visible=@IsPlaying HideShips=@true />
    </div>
</div>
<div>
    <SetupBoardInput SetupBoard=@PlayerSetupBoard GridState=@PlayerGrid OnShipsChanged=@SetupBoardInputShipsChanged />
</div>

@code {

    private GridState PlayerGrid = new GridState();
    private SetupBoard PlayerSetupBoard = new SetupBoard();
    private GridState ComputerGrid = new GridState();
    private Game Game;
    private bool IsPlaying;

    private void SetupBoardInputShipsChanged(bool setupCompleted)
    {
        if (setupCompleted)
        {
            Game = new Game(PlayerSetupBoard);
            IsPlaying = true;
        }

        StateHasChanged();
    }
}

